<div class="mars"></div>
<img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
<img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
<link href="{{ url_for('static', filename='styles/style1.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">


<p class="title">Oh no!!</p>
<p class="subtitle">
	You’ve either misspelled the city name<br /> or requesting a city that's not found in our services.
</p>
<div align="center">
	<a class="btn-back" href="javascript:history.back()">Back to previous page</a>
</div>
<img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
<img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />